api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  file:
    directory: /dynamic
    watch: true

certificatesResolvers:
  le:
    acme:
      email: tecnologia.mentoringteam@gmail.com
      storage: /acme.json
      httpChallenge:
        entryPoint: web

log:
  level: INFO

accessLog: {}

